* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    color: #424242;
    background-color: #E9EFEC;
    max-width: auto;
    max-height: 600px;
}

header {
    position: relative;
    padding: 20px;
    background-color: #16423C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header h1 {
    text-align: center;
    color: #FEFAE0;
}

header .buttons-container {
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header button {
    background-color: transparent;
    border: none;
    color: #E9EFEC;
    padding: 6px;
    cursor: pointer;

    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #C4DAD2;
    color: #16423C;
}

header button i {
    font-weight: bold;
    font-size: 24px;
}

main {
    margin: 25px auto;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1024px;

    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
    border-radius: 0 0 25px 25px;
}

#videoContainer {
    flex: 1;
    border-radius: 25px;
    padding: 30px;
    background-color: #C4DAD2;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

img {
    max-width: 100%;
    border-radius: 25px;
}

main button {
    font-size: 24px;
    color: #E9EFEC;
    font-weight: bold;
    padding: 12px;
    border-radius: 25px;
    width: 100%;
    background-color: #16423C;
    border: 4px solid #E9EFEC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

#indikatorContainer {
    flex: 1;
    border-radius: 25px;
    padding: 30px;
    background-color: #C4DAD2;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.indikator {
    flex: 1;
    padding: 12px;
    border: 4px solid #E9EFEC;
    border-radius: 10px;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #16423C;
    display: flex;
}

@media screen and (max-width: 500px) {
    header .buttons-container {
        display: none;
    }
    
    main {
        flex-direction: column;
    }

    body {
        max-height: 100vh;
    }
}

@media screen and (max-width: 759px) {
    header h1 {
      font-size: 15px;
    }

    header button i{
      font-size: 15px;
    }
}